---
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const defaultBaseUrl = "http://localhost:8080/magnoliaAuthor";
  const pagesApi = defaultBaseUrl + "/.rest/delivery/pages/v1";
  const templateAnnotationsApi =
    defaultBaseUrl + "/.rest/template-annotations/v1";
  const pagenavApi = defaultBaseUrl + "/.rest/delivery/pagenav/v1";

  async function getStaticPath(node: any, paths: any[]) {
    let pathname = node["@path"].replace(nodeName, "");
    // console.log({ node: node["@path"], pathname });
    pathname = pathname.split("/");

    pathname.shift();
    // console.log({ pathname });
    // TODO: add language support
    ["en"].forEach(async(language, i) => {
      let i18nPathname = JSON.parse(JSON.stringify(pathname));
      
      if (i !== 0) i18nPathname.unshift(language);
      console.log("ligne 21",{ i18nPathname });
      
      const thePath = i18nPathname.join("/");
      console.log({thePath})
      // const contentEndpoint =pagesApi +"/" +thePath;
      // // const content = await fetch(
      // // contentEndpoint
      // // ).then((res) => res.json());

      console.log({
        params: {
          page: i18nPathname.length ? i18nPathname.join("/") : undefined,
        },
      })
      paths.push({
        params: {
          page: i18nPathname.length ? i18nPathname.join("/") : undefined,
        },
      });
    });
    console.log("HOOLLAAA",{paths})

    node["@nodes"].forEach((nodeName) => getStaticPath(node[nodeName], paths));
  }
  const nodeName = "/astro-minimal";
  // const nodeName = "";

  let paths = [];

  const navRes = await fetch(pagenavApi + nodeName);
  if (!navRes.ok) {
    return { paths: [], fallback: false };
  }
  const nav = await navRes.json();

  // console.error("EEROOO", nav);
  getStaticPath(nav, paths);

  console.log("SENT PATHS", JSON.stringify(paths, null, 2));
  return [
    { params: { page: 'astro-minimal' } },
    {
      params: { page: undefined },
    }
  ]
  // return paths;
}

const content = await fetch(
  "http://localhost:8080/magnoliaAuthor/.rest/delivery/pages/v1/astro-minimal/"
).then((res) => res.json());
const templateAnnotations = await fetch(
  "http://localhost:8080/magnoliaAuthor/.rest/template-annotations/v1/astro-minimal/"
).then((res) => res.json());


---
<html>
  <head>
    <title>Basic</title>
  </head>
  <body class="max-w-md mx-auto">
    <MainLayout content={content} templateAnnotations={templateAnnotations} title="Basic Page">

    <h1>Main</h1>
    <editable-area
      content={JSON.stringify(content["main"])}
      annotations={JSON.stringify(templateAnnotations)}
    >
    </editable-area>

    <h1>Extras</h1>
    <editable-area
      content={JSON.stringify(content["extras"])}
      annotations={JSON.stringify(templateAnnotations)}
    >
    </editable-area>
  </MainLayout>
  </body>
</html>



<script>
  import provideCivicUiDesignSystem from "../../utils/register";
  import EditableArea from "../../components/magnolia/EditableArea";
  import EditableComponent from "../../components/magnolia/EditableComponent";
  import EditablePage from "../../components/magnolia/EditablePage";

  // Register the design system with the page
  provideCivicUiDesignSystem();

  // Register the magnolia custom elements
  customElements.define("editable-page", EditablePage);
  customElements.define("editable-area", EditableArea);
  customElements.define("editable-component", EditableComponent);
</script>
